{% block title %}
<title>Logout</title>
{% endblock %}

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}
<div class="container">
    <h1>Bosco Technical Training society</h1>
    <h2>Don Bosco Technical institute</h2>

    <div class="alert alert-success">
        Logout Successfull
        click here to <a href="{% url 'student_login' %}">login</a>
    </div>

    {% if message %}
        {{message}}
    {% endif %}
</div>